p {
    margin-bottom: 30px;
}

.rojo {
    color: red;
}

.contenedor {
    border: 2px solid blue;
}

.contenedor p {
    color: blue;
}

#unico {
    background-color: yellow;
}

button:hover {
    background-color: lightblue;
    cursor: pointer;
}

a:link {
    color: green;
}

a:visited {
    color: yellow;
}